.footer-container {
    margin-top: 206px;
     margin-bottom: 20px;
  }
  
  .footer-heading {
    font-size: 14px;
    font-weight: 500;
  }
  
  .footer-contact-container {
    width: 69px;
    height: 69px;
    background-color: #CBEA7B;
  }
  